<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  
 
<p class="lead">Hey all!</p>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	<a href="/slider">slider</a>
  </body>
</html>
